<div>

  <app-map 
  [driverInfo]="{ isActive: isActive }"
  >
  </app-map>
  
  <div *ngIf="mapComponent" class="absolute top-0 left-0 right-0 z-40 pointer-events-none">
    <app-map-controls 
    (clear)="clearMarkers()" 
    [summary]="summary"
    [driverInfo]="{ isActive: isActive }"
    >
    </app-map-controls>
  </div>

  <div *ngIf="mapComponent" class="absolute h-full z-40 left-0 top-0">
    <app-order-menu
    [waypoints]="waypoints"
    [summary]="summary"
    (stopAdded)="addNewStop($event)"
    (stopRemoved)="removeStop($event)"
    ></app-order-menu>
  </div>

</div>