<div class="absolute bottom-0 left-0 right-0 sm:static flex sm:flex-row flex-col-reverse
sm:h-full select-none" id="order-menu">

  <div *ngIf="isOpened" class="sm:static flex flex-col rounded-t-3xl sm:rounded-none
  w-screen h-140 sm:h-auto sm:w-120 bg-dark py-8 px-10 overflow-auto hidden-scrollbar">
    <h1 class="text-3xl font-bold text-gray-50 mt-4 sm:mt-0">Current ride</h1>


  </div>

  <!-- opening arrow -->
  <div class="hidden sm:flex flex-col justify-center h-32 w-8 bg-dark
  my-auto cursor-pointer text-center slide-in text-light hover:text-gray-300"
  [ngClass]="isOpened ? '-ml-8 rounded-none' : 'rounded-r-full'"
  (click)="toggleOpened()">
    <fa-icon [icon]="isOpened ? faChevronLeft : faChevronRight" class="text-2xl"></fa-icon>
  </div>

  <!-- opening arrow -->
  <div class="sm:hidden flex justify-center w-screen z-10 slide-in-bottom">
    <div class="flex flex-col justify-center bg-dark
    my-auto cursor-pointer text-center text-light hover:text-gray-300"
    [ngClass]="isOpened ? '-mb-8 rounded-none h-8 w-full mx-10' : 'rounded-t-full h-8 w-44'"
    (click)="toggleOpened()">
      <fa-icon [icon]="isOpened ? faChevronDown : faChevronUp" class="text-2xl"></fa-icon>
    </div>
  </div>

</div>
